doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title login
    // 新 Bootstrap 核心 CSS 文件
    link(rel='stylesheet', href='bootstrap.min.css')
    link(rel='stylesheet', href='form.css')
    script(src='jquery-1.11.1.js')
    // 最新的 Bootstrap 核心 JavaScript 文件
    script(src='bootstrap.min.js')
block head
  body
    li.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal', data-whatever='@mdo') 登   录
    li.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal2', data-whatever='@mdo') 注   册
    #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#exampleModalLabel.modal-title 用户登录
          .modal-body
            form(action='/login', method='get',onsubmit="return submitLogin();")
              .form-group
                label.control-label(for='recipient-name') 用户名:
                input#recipient-name.form-control.userText1(type='text' ,name="username",placeholder="请输入用户名！")
              .form-group
                label.control-label(for='message-text') 密码:
                input#recipient-name.form-control.userPass1(type='password' , name="password" ,placeholder="请输入密码！")
              .modal-footer
                input.btn.btn-default(type='submit'  , value='登录')
    #exampleModal2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#exampleModalLabel.modal-title 用户注册
          .modal-body
            form(action='/enroll', method='get',onsubmit="return submitTest();")
              .form-group
                label.control-label(for='recipient-name') 用户名:
                input#recipient-name.form-control.userText(type='text', name='username', placeholder='请输入用户名（5-18）位！')
              .form-group
                label.control-label(for='message-text') 密码:
                input#recipient-name.form-control.userPass(type='password', name='password', placeholder='请输入（6-18）位密码！')
              .modal-footer
                input.btn.btn-default(type='submit'  , value='注册')
      script.
        function submitTest() {
          var regUser = /^(?!_)(?!.*?_$)[a-zA-Z0-9_\\u4e00-\u9fa5]{5,18}$/;
          var regPass = /^[a-zA-Z0-9][a-zA-Z0-9_]{6,18}/
          var userText = $(".userText").val();
          var userPass = $(".userPass").val();
          var resultText = regUser.test(userText);
          var resultPass = regPass.test(userPass);
          if(resultPass==true&&resultText==true){
            return true;
          }else{
            return false;
          }
        }
