<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	h1 用户登录
	form(action="/insertuser",method="get")
		div
			label 用户名
			input(name="username")
		div
			label 密码
			input(name="password",type="password")
		div
			label 性别
			input(name="sex")
		div
			label 年龄
			input(name="age")
		div
		input(value="添加",type="submit")
		
	