<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="style/bootstrap.min.css")
body
	h1 首页
	h3 菜单
	a.btn.btn-primary(href="/book") 书籍列表
	a.btn.btn-primary(href="/user") 用户列表 

	